<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bomestar.olyclick" version="1.0.2" versionCode="10002" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Olyclick</name>
    <description>
        Olyclick - an awesome game.
    </description>
    <author email="pbomestar@gmail.com" href="http://phonegap.com">
        BomeStar
    </author>
    <gap:plugin name="phonegap-admob" source="npm"/>
    <preference name="android-minSdkVersion"  value="16" />
    <preference name="android-targetSdkVersion"  value="26" />
    <platform name="android">
      <icon src="img/icon/icon_ld.png" density="ldpi"/>
      <icon src="img/icon/icon_md.png" density="mdpi"/>
      <icon src="img/icon/icon_hd.png" density="hdpi"/>
      <icon src="img/icon/icon_x.png" density="xhdpi"/>
      <icon src="img/icon/icon_xx.png" density="xxhdpi"/>
    </platform>
    <content src="index.html" />
    <access origin="*" />
</widget>
